[user]
	name = Violeta Saravia
	email = saraviavioleta@gmail.com
[credential]
    credentialStore = cache
	helper = /usr/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
